* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    height: 100vh;
    background-color: #555;
  }
  
  div {
    margin: auto;
    padding: 3vh 4vw;
    background-color: rgb(255, 170, 0);
    color: white;
    border-radius: 10px;
    outline: 5px groove white;
  }