* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    height: 100vh;
  }
  
  .box {
    margin: auto;
    padding: 3vh 2vw;
    border-radius: 7px;
    background-color: rgb(112, 63, 246);
    color: white;
  }
  
  
   