@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Fauna+One&display=swap");

/* font-family: 'Cinzel', serif;
font-family: 'Fauna One', serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
}

body {
  display: flex;
  height: 100vh;
  background: black;
}

#container {
  margin: auto;
  text-align: center;
  background: grey;
  padding: 20px;
  outline: 10px groove rgb(224, 202, 202);
  transition: 0.5s ease-in-out;
}

#container:hover {
  box-shadow: 0 0 20px 20px white;
}

h1 {
  color: white;
}

.increment,
.decrement,
.result {
  display: inline-block;
  border: 1px solid black;
  padding: 1vh 2vw;
  border-radius: 6px;
  font-family: "Fauna One", serif;
  margin-top: 50px;
  color: white;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  user-select: none;
}

.increment {
  background: rgb(41, 202, 41);
}

.decrement {
  background: red;
}

.result {
  position: relative;
  top: -40px;
  font-size: 30px;
  background-color: rgba(30, 45, 21, 0.5);
}

.reset {
  border: 1px solid black;
  max-width: fit-content;
  margin: auto;
  padding: 1vh 2vw;
  margin-top: 10px;
  border-radius: 6px;
  font-family: "Fauna One", serif;
  background: blue;
  color: white;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  user-select: none;
}